DATABASE_URL=postgres://user:pass@xxx-pooler.us-east-2.aws.neon.tech/pheve?sslmode=verify-full
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
RESEND_API_KEY=re_xxx
RESEND_AUDIENCE_ID=xxx
BAND_EMAIL=phil.lachmann@gmail.com
EMAIL_FROM="PHEVE <mail@pheve.com>"
